.editbuses{
    border-radius: 15px;
    margin-left: 1vw;
    margin-top: 2vh;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(255, 44, 44);
    box-shadow: 0 9px #999;
    font-size: 38px;
    padding: 20px;
}

.editbuses:active {
    background-color: #999;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#buttonarea{
    background-color: #fff7c9;
    height: 100vh;
    width: 86vw;
    margin-left: 14vw;
}