<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NCHS Bus Map Page</title>
    <link href = "public/css/busmapadmin.css" rel = "stylesheet"></link>
  </head>
  <body>
    <div id="mapwindow">
      <div id="map-container">
        <img id="map" src="/public/images/map.jpg"/>
        <div id="bus-container">
          <div class="bus" id="A1"></div>
          <div class="bus" id="A2"></div>
          <div class="bus" id="B1"></div>
          <div class="bus" id="B2"></div>
          <div class="bus" id="C1"></div>
          <div class="bus" id="C2"></div>
          <div class="bus" id="D1"></div>
          <div class="bus" id="D2"></div>
          <div class="bus" id="E1"></div>
          <div class="bus" id="E2"></div>
          <div class="bus" id="F1"></div>
          <div class="bus" id="F2"></div>
          <div class="bus" id="G1"></div>
          <div class="bus" id="G2"></div>
          <div class="bus" id="H1"></div>
          <div class="bus" id="H2"></div>
          <div class="bus" id="I1"></div>
          <div class="bus" id="I2"></div>
          <div class="bus" id="J1"></div>
          <div class="bus" id="J2"></div>
          <div class="bus" id="K"></div>
          <div class="bus" id="L"></div>
          <div class="bus" id="M"></div>
          <div class="bus" id="N"></div>
          <div class="bus" id="O"></div>
          <div class="bus" id="P"></div>
          <div class="bus" id="Q"></div>
          <div class="bus" id="R"></div>
          <div class="bus" id="S"></div>
        </div>        
      </div>
    </div>
    <div id = "carousel"></div>
    <script src = "/public/js/admin/busmapadmin.js"></script>
  </body>
</html>